﻿body {
}


.tempstartmarker
{
    background-color: Black ;
    color: White;
}
.tempendmarker
{
    background-color: Black ;
    color: White;
}

span[data-eblatype='startmarker']
{
    display: none;
    
}

span[data-eblatype="endmarker"]
{
    display: none;
}

/*.startmarker
{
    background-color: #FFFF00;
}
.endmarker
{
    background-color: #FFFF00;
}*/


 
/*.speechformat
{
    background-color: #66FF99;
}   

.SDformat
{
    background-color: #FF99FF;
}*/


/*
Some text classes with a view to allowing per-document CSS
*/
.versetext
{
    display: block;
}

.strongs
{
    padding-left:2px;
}

.versenum
{
    font-weight: bold;
}

#vivtestdiv
{
    height: 400px;
    overflow: auto;
}