body,
html {
  overflow: hidden;
  height: 100%;
}
#container .translation {
  position: absolute;
  bottom: 0px;
  top: 30px;
  left: 20px;
}
#container .translation .nav {
  position: relative;
  z-index: 100;
}
#container .translation .nav .hideNav {
  margin-bottom: 10px;
}
#container .translation .nav .hideNav {
  padding: 7px 12px;
  position: absolute;
  left: -27px;
  z-index: 100;
}
#container .translation .nav.hidden .hideNav {
  background: url("img/nav_closed.png") no-repeat 50% 50%;
  top: 56px;
}
#container .translation .nav.visible .hideNav {
  background: url("img/nav_opened.png") no-repeat 50% 50%;
  top: 43px;
}
#container .translation .content {
  position: relative;
  bottom: 0px;
  height: 100%;
}
#container .translation .content .filter {
  z-index: 99;
  position: absolute;
}
#container .translation .content .filter.hidden > div {
  display: none !important;
}
#container .translation .content .filter button {
  vertical-align: top;
}
#container .translation .content .filter .hideFilter {
  padding: 3px 16px;
  position: absolute;
  top: -1px;
  z-index: 100;
}
#container .translation .content .filter.hidden .hideFilter {
  background: url("img/speaker_closed.png") no-repeat 50% 50%;
  left: -38px;
}
#container .translation .content .filter.visible .hideFilter {
  background: url("img/speaker_opened.png") no-repeat 50% 50%;
  left: 111px;
}
#container .translation .content .txt {
  position: absolute;
  overflow: auto;
  height: 98%;
  z-index: 1;
}
#container .translation .content .connector {
  z-index: -100;
  position: absolute;
}
button {
  background-color: black;
  padding: 4px;
  color: white;
  font-size: 75%;
}
.speech {
  padding: 8px 5px 8px 10px;
}
.textSelected {
  background-color: yellow;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Georgia, serif;
  font-size: 97%;
  vertical-align: bottom;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 115%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
